/* This file is for your main application css. */

.alert:empty { display: none; }

.jumbotron-simple {
  padding: 3em;
  padding-top: 10em;
}

.material-icons.md-48 { font-size: 48px; }

.card { padding: 0 3em; }

.help-block { color: #DC143C; /* crimson */ }
